<%= stylesheet_link_tag "style", media: "all", "data-turbolinks-track": "reload" %>

<h1>CLUE</h1>
<table>
  <tr>
    <td>Start Questions</td>
    <td>
      <%= link_to "Go", question_path(id: @current_question.id), class: "btn" %>
    </td>
  </tr>
</table>
